body {
  background-color: #0D0E15;
}
/** HEADER.js **/

/** Jubotron **/
[data-css3] {
  width: 100%;
  background: url('./img/fundo-hero.png') 40% 75% / cover no-repeat;
  
}
/** container dentro do jubotron **/

[data-centro] {

  max-width: 1024px;
  height: 100vh;
  margin: 0px auto;
}
section {
  width: 100%;
}


  /** HERO TEXT **/
  .hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom:10%;
  }
  .hero-text {
       
    color: white;
   
}

.oswald {
  font-family: 'Oswald', sans-serif;
}
.tituloHeader {
  line-height: 95%;
  text-align: left;
  font-size: 10vh;
  
}
.tituloHeaderVerde {
  font-size: 50px;
  font-weight: 500;
  line-height: 120%;
  }
.verdeTexto {
  color: #32AA24;
}
.verdeFundo {
  background-color: #32AA24;
}

.robotro {
  font-family: 'Robotro', sans-serif;
}


.workshop{

  max-height: 300px;
}

.planejamento {
  max-height: 300px;
}

.main { padding-top: 50px;}
/**espaço interno das rows **/
.row { padding-top: 200px; padding-bottom: 50px; }

.badgeworshop { 
  display: inline-block;
  width: 100%;
  min-height: 180px;
  background: url('./img/fundo01.png')  40% 75% / cover no-repeat
  
  
}
.badgeworshop img {
  position: absolute;
  top:10%;
  
}



/**

@media only screen and (min-width: 1024px) {
  [data-centro] {
    max-width: 1024px;
    height: 100vh;
  }
}

@media (min-width: 576px) {

  .jumbotron {padding: 0;}
  
  
  }
 @media (max-width: 576px) {
  .tituloHeader,
  .tituloHeaderVerde {
    text-align: center;
  }
  
 } 
**/

@media (max-width: 576px) {
  .row {padding-top: 100px;}
  .badgeworshop img {
    width: 32%;
    top:4%;
  }
.header { padding-top: unset;}  


[data-centro] { height: 65vh;}
}

@media (min-width :760px) {
  .badgeworshop img {
    width: 20%;
    top:5%;
  }
}