body {
  background-color: #0D0E15;
  font-family: 'Roboto',sans-serif;

}
/** HEADER.js **/

/** Jubotron **/
[data-css3] {
  width: 100%;
  background: url('./img/fundo-hero.png') 40% 90% / cover no-repeat;
  padding-top: unset;
  padding-bottom: unset;
  
}
/** container dentro do jubotron **/

[data-centro] {

  max-width: 1024px;
  height: 100vh;
  margin: 0px auto;
}
section {
  width: 100%;
  padding-bottom: 100px;
  padding-top: 100px;
}


  /** HERO TEXT **/
  .hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom:10%;
  }
  .hero-text {
       
    color: white;
   
}

.oswald {
  font-family: 'Oswald', sans-serif;
}
.tituloHeader {
  line-height: 95%;
  text-align: left;
  font-size: 10vh;
  
}
.tituloHeaderVerde {
  font-size: 50px;
  font-weight: 500;
  line-height: 120%;
  }
.verdeTexto {
  color: #32AA24;
}
.verdeFundo {
  background-color: #32AA24;
}

.keyfundo {
  background: url('./img/key.png') 40% 75% / cover no-repeat;
}

.fundoEscuro {
  background-color: #0b0c14;
}

.datahora .container .row img {max-height: 500px}

.fundoTopicos {
  background: url('./img/fundo-topicos.png') 40% 75% / cover no-repeat;
}

.fundoTopicos ul {list-style: square inside url('./img/bullet.png');}
.fundoTopicos ul li {font-size:18px;}

.fundoInstrutor { background: url('./img/fundo-instrutor.png') 40% 75% / cover no-repeat;}
.fundoInstrutor img { height: 150px;}

.investimento .container .row .col-12 { padding-bottom: 60px;}
.investimento .container .row .col-12 img {max-height: 200px;}

.robotro {
  font-family: 'Robotro', sans-serif;
}


.workshop{

  max-height: 300px;
}

.planejamento {
  max-height: 300px;
}

.main { padding-top: 50px;}
/**espaço interno das rows **/
section { padding-top: 90px; padding-bottom: 90px; }

.badgeworshop { 
  display: inline-block;
  width: 100%;
  min-height: 192px;
  background: url('./img/fundo01.png')  40% 92% / cover no-repeat
  
  
}
.badgeworshop img {
  position: absolute;
  width: 32%;
  top:4%;

  
}

.col-lg-12 .btn { font-size:2rem;}

/**

@media only screen and (min-width: 1024px) {
  [data-centro] {
    max-width: 1024px;
    height: 100vh;
  }
}

@media (min-width: 576px) {

  .jumbotron {padding: 0;}
  
  
  }
 @media (max-width: 576px) {
  .tituloHeader,
  .tituloHeaderVerde {
    text-align: center;
  }
  
 } 
**/

@media (max-width: 576px) {
  [data-css3] {
    
    background: url('./img/fundo-hero.png') center center / cover no-repeat;
    
  }

  .badgeworshop { 
    
    background: url('./img/fundo01.png')  center center / cover no-repeat
    
    
  }

  
  
  .badgeworshop img {
    width: 32%;
    top:4%;

    
  }
  .col-lg-12 .btn { font-size:1rem;}


  .fundoInstrutor { background: url('./img/fundo-instrutor.png') center center / cover no-repeat;}  
.header { padding-top: unset;}  


[data-centro] { height: 65vh;}
.datahora .container .row img {max-height: 200px}

}

@media (min-width :760px) {
  .badgeworshop img {
    width: 12%;
    top:4%;
  }
  body { font-size: 2rem;}
}